/addition.html
/addition.js
/animamtion.css
/animation.html
/DSA1
/Fromtemplate.html
/grid.css
/grid.html
/htmlTemplate.html
/image
/instagram.css
/instagram.html
/Login..css
/Login2.css
/LoginForm.html
/menuCard.html
/menuCrd.css
/position.css
/position.html
/selector.css
/selector.html
/sematic _tag.html
/style.css